.single-section-border {
    width: 1070px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding: 1px 28px 50px;
}

.mix-question-img {
    margin-top: 75px !important;
}

.mix-section-border {
    width: 1070px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding: 1px 28px 50px;
    display: flex;
}

.mix-section-left {
    width: 60%;
    margin-top: 5px;
}

.mix-section-left .custom-css {
    height: 475px;
    overflow: hidden;
    overflow-y: auto;
}

.mix-section-question-sheet {
    width: 507px;
    height: 456px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 70px 10px 40px 0px;
    padding: 0 10px 16px;
    overflow: hidden;
    overflow-y: auto;
    float: right;
}

.navigate-btn {
    width: 195px;
    height: 37px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 18px;
    float: right;
    display: flex;
    margin-right: 30px;
}

.navigate-btn-text {
    margin: 0 30px;
    font-family: 'Rounded Mplus 1c Medium';
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
}

.img-section-container {
    width: max-content;
}

.display-none {
    display: none;
}

.d-flex {
    display: flex;
    align-items: center;
}

.select-options {
    margin-left: 50px;
}