.facility-card-content-type-small{
    width: 276px;
    height: 190px;
}
.facility-card-content-type-large-hor{
    width: 568px;
    height: 334px;
}
.facility-card-content-type-large-ver{
    width: 471px;
    height: 545px;
}
.facility-card-img-type-small{
    width: 255px;
    height: 169px;
}
.facility-card-img-type-large-hor{
    width: 546px;
    height: 313px;
}
.facility-card-img-type-large-ver{
    width: 449px;
    height: 522px;
}
.facility-card-content{
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border-radius: 10px;
}
.facility-card-content .facility-card-img{
    margin: 10px;
    background: #C4C4C4;
    object-fit: cover;
}
