.feedback-card-content{
    width: 509px;
    height: 331px;
    background: linear-gradient(90deg, #FEA25F 3.92%, rgba(254, 162, 95, 0) 24.02%), linear-gradient(90deg, #E74D4D 43.14%, rgba(231, 77, 77, 0) 79.04%), linear-gradient(90deg, #7B26AF 64.22%, rgba(123, 38, 175, 0) 93.14%), linear-gradient(90deg, #36ADEF 29.04%, #36ADEF 100%);
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);

    position:relative;
}
.feedback-card-center{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.feedback-card-img{
    position: absolute;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    /* background-color: rgb(0, 0, 0); */
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    z-index: 10;
    top: 14px;
}
.feedback-card-detail{
    position: absolute;
    flex-direction: column;
    width: 509px;
    height: 249px;
    border-radius: 0px 0px 50px 50px;

    background-color: white;
    bottom: 0;

}
.feedback-card-title{
    display: flex;
    height: 33px;
    font-size: 24px;
    margin-top: 60px;
}
.feedback-card-name{
    font-family: Rounded Mplus 1c;
    font-weight: 800;
    color: #EE751D;
    margin: 0px 0px;
}
.feedback-card-place{
    font-family: Rounded Mplus 1c;
    font-weight: 500;
    color: #36ADEF;
    margin: 0px 0px;
    padding-left: 5px;
}
.feedback-card-text{
    width: 426px;
    height: 71px;
    margin: 10px 0 0 0;

    font-family: Rounded Mplus 1c;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color:rgba(0,0,0,0.7)
}
