.fgPassword-center{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.fgPassword-contain{
    width: 326px;
    height: 636px;

    background: rgba(219, 219, 219, 0.5);
    backdrop-filter: blur(30px);
    padding: 10px 40px;
}
.fgPassword-exit{
    width: 108%;
    display: flex;
    justify-content: right;
}
.fgPassword-header-contain{
    width: 100%;
    margin-top: 50px;
}
.fgPassword-header-title{
    width: max-content;
    height: 66px;

    font-family: 'Rounded Mplus 1c Extra Bold';
    font-size: 36px;
    line-height: 50px;

    color: #FFFFFF;
    margin: 0 0 0 10px;
}
.fgPassword-line{
    height: 2px;
    background: rgba(255, 255, 255, 0.6);
    margin: 5px 0;
}
.fgPassword-header-context{
    height: 27px;

    font-family: 'Rounded Mplus 1c Medium';

    font-size: 20px;
    line-height: 30px;
    display: flex;
    justify-content: right;

    color: #FFFFFF;
    margin: 0 0;
}
.fgPassword-input-contain{
    margin-top: 110px;
}
.fgPassword-input-border{
    width: 95%;
    height: 50px;

    background: rgba(49, 97, 154, 0.8);
    border-radius: 25px;
    margin: 20px 0;
    overflow: hidden;
    padding-left: 5%;
}
.fgPassword-input{
    width: 100%;
    height: 50px;
    border: none;
    padding: 0 0 0 15px;
    background-color: transparent;
    font-family: 'Rounded Mplus 1c Regular';
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}
.fgPassword-input::placeholder{
    color: #FFFFFF;
}
.fgPassword-input:focus{
    outline: none;
}
.fgPassword-icon{
    width: 25px;
    height: 25px;

    color: #FFFFFF;
}
.exit-icon-fgPassword{
    width: 30px;
    height: 30px;
}
.fgPassword-button-contain{
    width: 98%;
    display: flex;
    justify-content: right;
    margin-top: 40px;
    margin-bottom: 160px;
}
.fgPassword-button{
    width: 111px;
    height: 40px;
    border: none;
    background: #173151;
    border-radius: 20px;
    font-family: 'Roboto Bold';
    font-style: italic;

    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}