.forgot-header-title{
    width: max-content;
    height: 66px;

    font-family: 'Rounded Mplus 1c Extra Bold';
    font-size: 36px;
    line-height: 50px;

    color: #FFFFFF;
    margin: 0 0 0 10px;
}
.forgot-input-contain{
    margin-top: 110px;
}

.forgot-button-contain{
    width: 98%;
    display: flex;
    justify-content: right;
    margin-top: 40px;
    margin-bottom: 160px;
}