.workplace-list-categories {
    position: absolute;
    left: 24px;
    top: 22px;
    display: flex;
    width: max-content;
    height: 50px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
}

.workplace-lc {
    min-width: 110px;
    font-family: 'Rounded Mplus 1c Medium';
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999999;
    cursor: pointer;
    height: 100%;
    text-decoration: none;
}
.css-button{
    border: none;
    background-color: white;
}

.css-active{
    border-bottom: 3px solid #FFAB6F !important;
    color: black;
}

.workplace-lc:hover {
    background-color: #F1F1F1;
}

.workplace-lc .icon {
    margin-right: 5px;
    font-size: 20px;
}

.workplace-lc .img-icon {
    filter: opacity(46%);
}

.workplace-list-categories .active {
    color: black;
    border-bottom: 2px solid #0191FA;
}

.workplace-list-categories .active .icon {
    filter: opacity(100%);
}