.edit-form-center{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.edit-form-contain{
    width: 374px;
    height: 462px;
    background-image: url("../../../../assets/icons/edit_form_bg.png");
    border-radius: 30px;
    position: relative;
}
.edit-form-close{
    width: 95%;
    display: flex;
    justify-content: right;
    margin-top: 15px;
}
.edit-form-close .edit-form-close-icon{
    width: 30px;
    height: 30px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.edit-form-contain .edit-form-body{
    padding: 0 45px;
}
.edit-form-body .edit-form-title{
    font-family: 'Rounded Mplus 1c Black';

    font-size: 24px;
    line-height: 36px;

    text-align: left;
    color: #000000;
    margin: 10px 0px 30px 0px;
}
.edit-form-item{
    width: 100%;
    margin: 20px 0;
}
.edit-form-item-title{
    font-family: 'Rounded Mplus 1c Extra Bold';
    font-size: 12px;
    line-height: 18px;
    
    margin: 5px 0;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}
.edit-form-item .edit-form-input-contain{
    width: 90%;

    margin: 0 0;
    padding: 0px 10px 3px 10px;
    border-bottom: 2px solid #4C83C5;
    display: flex;
}
.edit-form-input-contain .edit-form-input{
    width: 100%;
    height: 30px;
    border: none;
    background-color: transparent;
    font-family: 'Rounded Mplus 1c Light';
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.7);
}
.edit-form-input-contain .edit-form-input-icon{
    width: 25px;
    height: 25px;
    color: rgba(0, 0, 0, 0.4);
}
.edit-form-right-eye{
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.edit-form-input:focus{
    outline: none;
}
.edit-form-body .edit-form-confirm-contain{
    position: absolute;
    right: 40px;
    bottom: 55px;
}
.edit-form-confirm-button{
    width: 140px;
    height: 32px;
    border: none;

    color: white;
    background: rgba(40, 57, 147, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    cursor: pointer;
}
.edit-form-gender-button{
    width: 36px;
    height: 36px;
    border: none;
    color: white;
    border-radius: 50% 50%;
    background-color: #0191FA;
    margin: 0 10px;
}
.gender-selected{
    width: 41px;
    height: 41px;
    border: 5px solid #b1c6ff;
}
.gender-female{
    background-color: #FC6ADC;
}
.edit-form-checkbox{
    display: none;
    margin: 0 0;
}