.post-special-bg-org {
    width: 100%;
    height: 540px;
    background: linear-gradient(to bottom, rgba(255, 242, 232, 1) 67%, rgba(255, 255, 255, 1) 67%);
    display: flex;
    justify-content: center;
}

.post-special-bg-blue {
    width: 100%;
    height: 540px;
    background: linear-gradient(to top, rgba(255, 242, 232, 1) 33%, rgba(255, 255, 255, 1) 33%);
    display: flex;
    justify-content: center;
}

.post-special-content {
    width: max-content;
    height: 500px;
    display: flex;
    margin: 20px 220px;
}

.post-special-content .post-special-card {
    display: flex;
    justify-content: space-around;
}

.post-special-content .post-special-info {
    width: 362px;
    height: 237px;
    text-align: left;
    margin-left: 30px;
}

.post-type {
    margin-left: 0px;
    margin-right: 70px;
}

.post-special-title {
    width: 362px;
    height: 54px;
    font-family: "Rounded Mplus 1c Extra Bold";
    font-size: 36px;
    line-height: 53px;
    margin: 0 0;
    color: #B62F05;
    text-transform: uppercase;
}

.blue-title {
    color: #2712A8;
}

.post-special-info .post-special-text {
    width: 362px;
    height: 126px;
    left: 0px;
    top: 62px;
    font-family: "Rounded Mplus 1c Regular";
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0px 20px 0;
    color: #000000;
}

.post-special-info .post-special-link {
    text-decoration: none;
}

.post-special-info .post-special-seeall {
    display: flex;
    margin-left: 20px;
}

.post-special-seeall .no-fit {
    object-fit: none;
}

.post-special-seeall .post-special-context {
    width: 179px;
    height: 17px;
    font-family: "Roboto Medium";
    font-size: 16px;
    line-height: 19px;
    margin: auto 0px auto 15px;
}

.post-special-seeall .blue-context {
    color: #0191FA;
}

.post-special-seeall .orange-context {
    color: #EE751D;
}