.hide {
    display: none;
}

.no-overflow {
    overflow: hidden;
}

.menu-option {
    height: max-content;
    min-height: 52px;
    width: 100%;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.menu-option:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.active {
    background-color: rgba(255, 255, 255, 0.2);
    color: #0191FA;
}

.menu-option .icon {
    margin-left: 8.3%;
    font-size: 20px;
}

.menu-option .name {
    margin-right: 14px;
    margin-left: 10px;
    text-align: left;
    font-family: "Rounded Mplus 1c Medium";
    font-size: 16px;
}

.left-menu-container {
    height: 100vh;
    min-height: 444px;
    width: 16.3%;
    min-width: 136px;
    background-color: rgba(10, 9, 61, 0.7);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 10;
}

.left-menu-decoration {
    background-image: url('../../assets/icons/left-menu-deco.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 15.86%;
    min-width: 132px;
    height: 63%;
    min-height: 272px;
    top: 172.19px;
    left: 0.4%;
}

.left-menu-header {
    margin-bottom: 5.2vh;
    margin-top: 5.6vh;
    height: 7.8vh;
    min-height: 44px;
    width: 83.4%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.left-menu-header .logo {
    height: 40px;
    width: 40px;
    background-size: contain;
    background-image: url(../../assets/icons/app-logo.png);
    cursor: pointer;
}

.left-menu-header .icon {
    transform: rotate(-180deg);
    color: #fff;
    font-size: 20px;
    height: 40px;
}

.left-menu-content {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.left-menu-content .section {}

.left-menu-content .space {
    flex: 1;
}

.left-menu-content .seperator {
    width: 200px;
    border: 0px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.left-menu-user-info {
    margin-top: 2.8%;
    width: 100%;
    height: max-content;
    min-height: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    cursor: default;
}

.left-menu-user-info .avatar {
    border-radius: 50%;
    object-fit: cover;
    height: 44px;
    width: 44px;
    margin: 12px 0px;
    margin-left: 8.3%;
}

.left-menu-user-info .content {
    display: flex;
    flex-direction: column;
    margin-left: 9px;
    text-align: left;
    color: #fff;
    padding: 12px 0px
}

@media screen and (max-width: 1150px) {
    .left-menu-user-info {
        justify-content: center;
        flex-direction: column;
    }
    .left-menu-user-info .avatar {
        margin-left: 0px;
        margin-bottom: 0px;
    }
    .left-menu-user-info .content {
        margin-left: 0px;
        text-align: center;
    }
}

.content .content-main {
    font-size: 14px;
    font-family: "Rounded Mplus 1c Medium";
}

.content .content-sub {
    font-size: 12px;
    font-family: "Rounded Mplus 1c Light";
}