.workplace-container {
    background-color: #E6E9EB;
    height: 100%;
    min-width: 700px;
    width: calc(83.7%);
    border-top-left-radius: 30px;
    float: right
}

@media screen and (max-width: 836px) {
    .workplace-container {
        float: left;
        margin-left: 136px;
    }
}

.workplace-header {
    background-color: #fff;
    width: 100%;
    height: 104px;
    display: flex;
    border-top-left-radius: 30px;
}

.workplace-header .workplace-title {
    margin-left: 48px;
    font-family: 'Rounded Mplus 1c Extra Bold';
    font-size: 30px;
    text-align: left;
    align-self: center;
}

.workplace-header .workplace-toolbar {
    padding-top: 24px;
    box-sizing: border-box;
    position: absolute;
    z-index: 10;
    height: 75px;
    width: 48.4%;
    right: 0px;
    top: 48px;
    display: flex;
    justify-content: end;
    background-image: url('../../../assets/icons/toolbar-bg.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100% 100%;
    /* background: linear-gradient(281.23deg, #487DBC 7.85%, rgba(76, 131, 197, 0) 29.02%), linear-gradient(94.56deg, #4C83C5 52.51%, rgba(76, 131, 197, 0.2) 95.51%); */
}

@media screen and (max-width: 1200px) {
    .workplace-header .workplace-toolbar {
        display: none;
    }
    .workplace-container .decoration-position {
        display: none;
    }
}

.workplace-toolbar .search-container {
    background-color: #FAFBFC;
    width: 298px;
    height: 40px;
    display: flex;
    align-items: center;
    color: #959595;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    border-radius: 20px 5px 5px 20px;
    margin-right: 13px;
}

.search-container .search-icon {
    font-size: 24px;
    margin-left: 12px;
    margin-right: 10px;
}

.search-container .search {
    border: none;
    outline: none;
    flex: 1;
    margin-right: 12px;
    height: 34px;
    background-color: #FAFBFC;
    font-size: 16px;
    font-family: 'Rounded Mplus 1c Medium';
    color: #959595;
}

.search-container .search::placeholder {
    color: #959595;
}

.workplace-container .margin-right-63 {
    margin-right: 8.8%;
}

.workplace-container .decoration-position {
    background-repeat: no-repeat;
    background-size: contain;
    width: 505px;
    height: 300px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.decoration-toolbar {
    background-image: url(../../../assets/icons/fluid0-decoration.png);
}

.decoration-no-toolbar {
    background-image: url(../../../assets/icons/fluid1-decoration.png);
}