.staff-card-layout {
    width: max-content;
    height: 420px;
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    border: 1px dashed #EE751D;
    border-radius: 5px;
    padding: 20px 10px;
    /* margin-top: 50px; */
}