.appoinment-card-content {
    width: 555px;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 44px;
}

.appoinment-card-center {
    justify-content: center;
    align-items: center;
    display: flex;
}

.appoinment-card-content .appoinment-card-icon-content {
    width: 72px;
    height: 72px;
    border-radius: 10px;
    background-color: #41A9F3;
    margin: auto 15px;
    color: #fff;
    font-size: 36px;
}

.appoinment-card-content .appoinment-card-detail {
    width: 400px;
    font-family: "Rounded Mplus 1c Light";
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: left center;
    margin-left: 15px;
    white-space: pre-wrap;
}