.alert-form-contain {
    width: 300px;
    height: 460px;
    background: #FFFFFF;
    border-radius: 10px;
    
    position: relative;
}

  .alert-form-close {
    width: 95%;
    display: flex;
    justify-content: right;
    padding-top: 15px;
}

.alert-form-close .alert-form-icon {
    width: 24px;
    height: 24px;
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.add-text{
    display: flex;
    flex-direction: column;
    
}
  .alert-form-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert-form-body .alert-form-title {
    font-family: 'Rounded Mplus 1c Medium';
    font-size: 22px;
    line-height: 33px;
    color: #000000;
    margin: 10px 0;
}

.alert-form-body .alert-form-subtitle {
    width: 188px;
    font-family: 'Rounded Mplus 1c Medium';
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 0;
    text-align: center;
}

.alert-form-body .alert-form-img {
    width: 108px;
    height: 108px;
    margin: 46px 0 50px 0;
}

.alert-form-yesno {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    z-index: 100px;
}
.aler-form{
    width: 200px !important;
    height: 40px !important;
    white-space: pre-line;
    text-align: center;
}
.alert-form-yesno .alert-form-yes {
    width: 79px;
    height: 40px;
    background: #489CCC;
    font-family: 'Rounded Mplus 1c Extra Bold';
    border-radius: 20px;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 100px;
}

.alert-form-yesno .alert-form-no {
    width: 79px;
    height: 40px;
    background: #EB4C4C;
    font-family: 'Rounded Mplus 1c Extra Bold';
    border-radius: 20px;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 100px;
    margin-left: 30px;
}

.alert-form-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100px;
}