    .userpage-container {
        height: 100vh;
        min-height: 444px;
        width: 100%;
        background-color: #0A093D;
        min-width: 836px;
    }
    
    .acc-set-body {
        display: flex;
        width: 100%;
        flex-direction: column;
        overflow-y: auto;
    }
    
    .trays-container {
        display: flex;
        flex-direction: column;
        margin-top: calc(3.2% + 70px);
        margin-left: 5.4%;
        margin-right: 7.6%;
    }
    
    .pie-chart-section {
        display: flex;
        margin-bottom: 40px;
    }
    
    .chart-container {
        flex: 1;
        margin: 0 40px;
        border-radius: 4px;
        background-color: #fff;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        overflow: hidden;
    }
    
    .chart-container .filter-options {
        display: flex;
    }
    
    .filter-options .option {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        border-radius: 0 0px 8px 8px;
        background-color: #e0edf5;
        border: solid 1px #fff;
        cursor: pointer;
    }
    
    .filter-options .option:hover {
        background-color: #ecf5fa;
    }
    
    .filter-options .option label {
        margin-left: 20px;
    }
    
    .chart-content {
        display: flex;
        justify-content: center;
        padding: 20px 40px;
        max-height: 400px;
    }
    
    .year-select {
        margin-left: 10px;
    }
    
    .chart-container .title {
        justify-content: center;
        height: 60px;
        display: flex;
        align-items: center;
        background-color: #d7dde1;
        padding: 0 40px;
        font-family: 'Rounded Mplus 1c Medium';
        font-size: 16px;
    }
    
    .chart-container .option {
        font-family: 'Rounded Mplus 1c Medium';
        font-size: 12px;
        color: #546a7c;
    }
    
    .year-select {
        height: 30px;
        border-radius: 10px;
        padding: 0 10px
    }
    
    @media screen and (max-width: 1250px) {
        .acc-set-line {
            flex-direction: column;
        }
        .basic-tray-container {
            width: 100%;
            margin-bottom: 37px;
        }
        .contract-tray-container {
            width: 100%;
        }
    }